[flake8]
# Regras suaves compatíveis com Black/formatadores automáticos
max-line-length = 88
extend-ignore = E203, W503

# Arquivos/pastas que não devem ser verificados
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    .github

# Para casos específicos, você pode adicionar per-file-ignores aqui
# per-file-ignores =